## 수행내용
- PySpark Dataframe
- Reading the dataset
- Checking the datatypes of the column(Schema)
- Check describe option similar to Pandas
- Selecting columns and indexing
- Adding columns
- Dropping columns
- Renaming columns

In [1]:
from pyspark.sql import SparkSession
스파크 = SparkSession.builder.appName('Dataframe').getOrCreate()
스파크.conf.set("spark.sql.execution.arrow.pyspark.enabled","true")  
### pyspark 바뀌는 부분?

In [2]:
DF스파크 = 스파크.read.option('encoding','cp949').option('header','true').csv("Employee.csv")  # 인코딩, 헤더 주의
DF스파크.show()

+---+------+----+------+------+--------+-------+-------+--------+
| id|gender|educ|jobcat|salary|salbegin|jobtime|prevexp|minority|
+---+------+----+------+------+--------+-------+-------+--------+
|  1|  남성|  15|경영자| 57000|   27000|     98|    144|      No|
|  2|  남성|  16|사무직| 40200|   18750|     98|     36|      No|
|  3|  여성|  12|사무직| 21450|   12000|     98|    381|      No|
|  4|  여성|   8|사무직| 21900|   13200|     98|    190|      No|
|  5|  남성|  15|사무직| 45000|   21000|     98|    138|      No|
|  6|  남성|  15|사무직| 32100|   13500|     98|     67|      No|
|  7|  남성|  15|사무직| 36000|   18750|     98|    114|      No|
|  8|  여성|  12|사무직| 21900|    9750|     98|      0|      No|
|  9|  여성|  15|사무직| 27900|   12750|     98|    115|      No|
| 10|  여성|  12|사무직| 24000|   13500|     98|    244|      No|
| 11|  여성|  16|사무직| 30300|   16500|     98|    143|      No|
| 12|  남성|   8|사무직| 28350|   12000|     98|     26|     Yes|
| 13|  남성|  15|사무직| 27750|   14250|     98|     34|     Yes|
| 14|  여성|  15|사무직| 35100|   16800|     98|    137|     Yes|
| 15|  남성|  12|사무직| 27300|   13500|     97|     66|      No|
| 16|  남성|  12|사무직| 40800|   15000|     97|     24|      No|
| 17|  남성|  15|사무직| 46000|   14250|     97|     48|      No|
| 18|  남성|  16|경영자|103750|   27510|     97|     70|      No|
| 19|  남성|  12|사무직| 42300|   14250|     97|    103|      No|
| 20|  여성|  12|사무직| 26250|   11550|     97|     48|      No|
+---+------+----+------+------+--------+-------+-------+--------+
only showing top 20 rows

In [3]:
### Check the Schema
DF스파크.printSchema()

root
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- educ: string (nullable = true)
 |-- jobcat: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- salbegin: string (nullable = true)
 |-- jobtime: string (nullable = true)
 |-- prevexp: string (nullable = true)
 |-- minority: string (nullable = true)

In [4]:
DF스파크 = 스파크.read.option('encoding','cp949').option('header','true').csv("Employee.csv",inferSchema=True)
DF스파크.printSchema()

root
 |-- id: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- educ: integer (nullable = true)
 |-- jobcat: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- salbegin: integer (nullable = true)
 |-- jobtime: integer (nullable = true)
 |-- prevexp: integer (nullable = true)
 |-- minority: string (nullable = true)

In [5]:
DF스파크 = 스파크.read.csv("Employee.csv",header=True,encoding='cp949',inferSchema=True)
DF스파크.printSchema()

root
 |-- id: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- educ: integer (nullable = true)
 |-- jobcat: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- salbegin: integer (nullable = true)
 |-- jobtime: integer (nullable = true)
 |-- prevexp: integer (nullable = true)
 |-- minority: string (nullable = true)

In [6]:
DF스파크.columns

['id',
 'gender',
 'educ',
 'jobcat',
 'salary',
 'salbegin',
 'jobtime',
 'prevexp',
 'minority']

In [7]:
DF스파크.head(5)

[Row(id=1, gender='남성', educ=15, jobcat='경영자', salary=57000.0, salbegin=27000, jobtime=98, prevexp=144, minority='No'),
 Row(id=2, gender='남성', educ=16, jobcat='사무직', salary=40200.0, salbegin=18750, jobtime=98, prevexp=36, minority='No'),
 Row(id=3, gender='여성', educ=12, jobcat='사무직', salary=21450.0, salbegin=12000, jobtime=98, prevexp=381, minority='No'),
 Row(id=4, gender='여성', educ=8, jobcat='사무직', salary=21900.0, salbegin=13200, jobtime=98, prevexp=190, minority='No'),
 Row(id=5, gender='남성', educ=15, jobcat='사무직', salary=45000.0, salbegin=21000, jobtime=98, prevexp=138, minority='No')]

In [8]:
DF스파크.select('id').show()  # 데이터 프레임 형태로 가져오기

+---+
| id|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
| 15|
| 16|
| 17|
| 18|
| 19|
| 20|
+---+
only showing top 20 rows

In [9]:
DF스파크.select(['id','gender']).show()

+---+------+
| id|gender|
+---+------+
|  1|  남성|
|  2|  남성|
|  3|  여성|
|  4|  여성|
|  5|  남성|
|  6|  남성|
|  7|  남성|
|  8|  여성|
|  9|  여성|
| 10|  여성|
| 11|  여성|
| 12|  남성|
| 13|  남성|
| 14|  여성|
| 15|  남성|
| 16|  남성|
| 17|  남성|
| 18|  남성|
| 19|  남성|
| 20|  여성|
+---+------+
only showing top 20 rows

In [10]:
DF스파크['gender']

Column<'gender'>

In [11]:
print(type(DF스파크.select('id')),type(DF스파크['id']))

<class 'pyspark.sql.dataframe.DataFrame'> <class 'pyspark.sql.column.Column'>

In [ ]:
#### DF스파크['id']는 DataFrame이 아니기 때문에 .show() 사용못함

In [12]:
DF스파크.dtypes

[('id', 'int'),
 ('gender', 'string'),
 ('educ', 'int'),
 ('jobcat', 'string'),
 ('salary', 'double'),
 ('salbegin', 'int'),
 ('jobtime', 'int'),
 ('prevexp', 'int'),
 ('minority', 'string')]

In [17]:
DF스파크.describe().show() # 각 변수에 맞게 평균 ... 계산

+-------+------------------+------+-----------------+------+------------------+------------------+------------------+------------------+--------+
|summary|                id|gender|             educ|jobcat|            salary|          salbegin|           jobtime|           prevexp|minority|
+-------+------------------+------+-----------------+------+------------------+------------------+------------------+------------------+--------+
|  count|               474|   474|              474|   474|               474|               474|               474|               474|     474|
|   mean|             237.5|  null| 13.4915611814346|  null| 34419.56751054852|17016.086497890294|  81.1097046413502| 95.86075949367088|    null|
| stddev|136.97627531802723|  null|2.884846405577833|  null|17075.661464586057| 7870.638154474874|10.060944873713538|104.58623610451157|    null|
|    min|                 1|  남성|                8|경영자|           15750.0|              9000|                63|                 0|      No|
|    max|               474|  여성|               21|사무직|          135000.0|             79980|                98|               476|     Yes|
+-------+------------------+------+-----------------+------+------------------+------------------+------------------+------------------+--------+

In [18]:
### Adding columns in dataframe
DF스파크 = DF스파크.withColumn('jobtime2',DF스파크['jobtime']*2)
DF스파크.show()

+---+------+----+------+--------+--------+-------+-------+--------+--------+
| id|gender|educ|jobcat|  salary|salbegin|jobtime|prevexp|minority|jobtime2|
+---+------+----+------+--------+--------+-------+-------+--------+--------+
|  1|  남성|  15|경영자| 57000.0|   27000|     98|    144|      No|     196|
|  2|  남성|  16|사무직| 40200.0|   18750|     98|     36|      No|     196|
|  3|  여성|  12|사무직| 21450.0|   12000|     98|    381|      No|     196|
|  4|  여성|   8|사무직| 21900.0|   13200|     98|    190|      No|     196|
|  5|  남성|  15|사무직| 45000.0|   21000|     98|    138|      No|     196|
|  6|  남성|  15|사무직| 32100.0|   13500|     98|     67|      No|     196|
|  7|  남성|  15|사무직| 36000.0|   18750|     98|    114|      No|     196|
|  8|  여성|  12|사무직| 21900.0|    9750|     98|      0|      No|     196|
|  9|  여성|  15|사무직| 27900.0|   12750|     98|    115|      No|     196|
| 10|  여성|  12|사무직| 24000.0|   13500|     98|    244|      No|     196|
| 11|  여성|  16|사무직| 30300.0|   16500|     98|    143|      No|     196|
| 12|  남성|   8|사무직| 28350.0|   12000|     98|     26|     Yes|     196|
| 13|  남성|  15|사무직| 27750.0|   14250|     98|     34|     Yes|     196|
| 14|  여성|  15|사무직| 35100.0|   16800|     98|    137|     Yes|     196|
| 15|  남성|  12|사무직| 27300.0|   13500|     97|     66|      No|     194|
| 16|  남성|  12|사무직| 40800.0|   15000|     97|     24|      No|     194|
| 17|  남성|  15|사무직| 46000.0|   14250|     97|     48|      No|     194|
| 18|  남성|  16|경영자|103750.0|   27510|     97|     70|      No|     194|
| 19|  남성|  12|사무직| 42300.0|   14250|     97|    103|      No|     194|
| 20|  여성|  12|사무직| 26250.0|   11550|     97|     48|      No|     194|
+---+------+----+------+--------+--------+-------+-------+--------+--------+
only showing top 20 rows

In [19]:
### Rename the columns
DF스파크 = DF스파크.withColumnRenamed('jobtime2','jobtime3')
DF스파크.show()

+---+------+----+------+--------+--------+-------+-------+--------+--------+
| id|gender|educ|jobcat|  salary|salbegin|jobtime|prevexp|minority|jobtime3|
+---+------+----+------+--------+--------+-------+-------+--------+--------+
|  1|  남성|  15|경영자| 57000.0|   27000|     98|    144|      No|     196|
|  2|  남성|  16|사무직| 40200.0|   18750|     98|     36|      No|     196|
|  3|  여성|  12|사무직| 21450.0|   12000|     98|    381|      No|     196|
|  4|  여성|   8|사무직| 21900.0|   13200|     98|    190|      No|     196|
|  5|  남성|  15|사무직| 45000.0|   21000|     98|    138|      No|     196|
|  6|  남성|  15|사무직| 32100.0|   13500|     98|     67|      No|     196|
|  7|  남성|  15|사무직| 36000.0|   18750|     98|    114|      No|     196|
|  8|  여성|  12|사무직| 21900.0|    9750|     98|      0|      No|     196|
|  9|  여성|  15|사무직| 27900.0|   12750|     98|    115|      No|     196|
| 10|  여성|  12|사무직| 24000.0|   13500|     98|    244|      No|     196|
| 11|  여성|  16|사무직| 30300.0|   16500|     98|    143|      No|     196|
| 12|  남성|   8|사무직| 28350.0|   12000|     98|     26|     Yes|     196|
| 13|  남성|  15|사무직| 27750.0|   14250|     98|     34|     Yes|     196|
| 14|  여성|  15|사무직| 35100.0|   16800|     98|    137|     Yes|     196|
| 15|  남성|  12|사무직| 27300.0|   13500|     97|     66|      No|     194|
| 16|  남성|  12|사무직| 40800.0|   15000|     97|     24|      No|     194|
| 17|  남성|  15|사무직| 46000.0|   14250|     97|     48|      No|     194|
| 18|  남성|  16|경영자|103750.0|   27510|     97|     70|      No|     194|
| 19|  남성|  12|사무직| 42300.0|   14250|     97|    103|      No|     194|
| 20|  여성|  12|사무직| 26250.0|   11550|     97|     48|      No|     194|
+---+------+----+------+--------+--------+-------+-------+--------+--------+
only showing top 20 rows

In [20]:
### Drop the columns
DF스파크 = DF스파크.drop('jobtime3')
DF스파크.show()

+---+------+----+------+--------+--------+-------+-------+--------+
| id|gender|educ|jobcat|  salary|salbegin|jobtime|prevexp|minority|
+---+------+----+------+--------+--------+-------+-------+--------+
|  1|  남성|  15|경영자| 57000.0|   27000|     98|    144|      No|
|  2|  남성|  16|사무직| 40200.0|   18750|     98|     36|      No|
|  3|  여성|  12|사무직| 21450.0|   12000|     98|    381|      No|
|  4|  여성|   8|사무직| 21900.0|   13200|     98|    190|      No|
|  5|  남성|  15|사무직| 45000.0|   21000|     98|    138|      No|
|  6|  남성|  15|사무직| 32100.0|   13500|     98|     67|      No|
|  7|  남성|  15|사무직| 36000.0|   18750|     98|    114|      No|
|  8|  여성|  12|사무직| 21900.0|    9750|     98|      0|      No|
|  9|  여성|  15|사무직| 27900.0|   12750|     98|    115|      No|
| 10|  여성|  12|사무직| 24000.0|   13500|     98|    244|      No|
| 11|  여성|  16|사무직| 30300.0|   16500|     98|    143|      No|
| 12|  남성|   8|사무직| 28350.0|   12000|     98|     26|     Yes|
| 13|  남성|  15|사무직| 27750.0|   14250|     98|     34|     Yes|
| 14|  여성|  15|사무직| 35100.0|   16800|     98|    137|     Yes|
| 15|  남성|  12|사무직| 27300.0|   13500|     97|     66|      No|
| 16|  남성|  12|사무직| 40800.0|   15000|     97|     24|      No|
| 17|  남성|  15|사무직| 46000.0|   14250|     97|     48|      No|
| 18|  남성|  16|경영자|103750.0|   27510|     97|     70|      No|
| 19|  남성|  12|사무직| 42300.0|   14250|     97|    103|      No|
| 20|  여성|  12|사무직| 26250.0|   11550|     97|     48|      No|
+---+------+----+------+--------+--------+-------+-------+--------+
only showing top 20 rows

### Filter operations
- &, |, ~  | 조건이 여러개 '""|

In [21]:
### Salary of the people less than or equal to 30000
DF스파크.filter("salary <= 30000").show()

+---+------+----+------+-------+--------+-------+-------+--------+
| id|gender|educ|jobcat| salary|salbegin|jobtime|prevexp|minority|
+---+------+----+------+-------+--------+-------+-------+--------+
|  3|  여성|  12|사무직|21450.0|   12000|     98|    381|      No|
|  4|  여성|   8|사무직|21900.0|   13200|     98|    190|      No|
|  8|  여성|  12|사무직|21900.0|    9750|     98|      0|      No|
|  9|  여성|  15|사무직|27900.0|   12750|     98|    115|      No|
| 10|  여성|  12|사무직|24000.0|   13500|     98|    244|      No|
| 12|  남성|   8|사무직|28350.0|   12000|     98|     26|     Yes|
| 13|  남성|  15|사무직|27750.0|   14250|     98|     34|     Yes|
| 15|  남성|  12|사무직|27300.0|   13500|     97|     66|      No|
| 20|  여성|  12|사무직|26250.0|   11550|     97|     48|      No|
| 22|  남성|  12|사무직|21750.0|   12750|     97|    315|     Yes|
| 23|  여성|  15|사무직|24000.0|   11100|     97|     75|     Yes|
| 24|  여성|  12|사무직|16950.0|    9000|     97|    124|     Yes|
| 25|  여성|  15|사무직|21150.0|    9000|     97|    171|     Yes|
| 37|  남성|  12|사무직|29100.0|   13500|     96|    113|     Yes|
| 40|  여성|  15|사무직|19200.0|    9000|     96|     23|     Yes|
| 41|  여성|  12|사무직|23550.0|   11550|     96|     52|     Yes|
| 43|  남성|  12|사무직|23250.0|   14250|     95|     46|      No|
| 44|  남성|   8|사무직|29250.0|   14250|     95|     50|      No|
| 46|  여성|  15|사무직|22350.0|   12750|     95|    165|      No|
| 47|  여성|  12|사무직|30000.0|   16500|     95|    228|      No|
+---+------+----+------+-------+--------+-------+-------+--------+
only showing top 20 rows

In [22]:
DF스파크.where("salary <= 30000").show()  # where : filter랑 같은 기능

+---+------+----+------+-------+--------+-------+-------+--------+
| id|gender|educ|jobcat| salary|salbegin|jobtime|prevexp|minority|
+---+------+----+------+-------+--------+-------+-------+--------+
|  3|  여성|  12|사무직|21450.0|   12000|     98|    381|      No|
|  4|  여성|   8|사무직|21900.0|   13200|     98|    190|      No|
|  8|  여성|  12|사무직|21900.0|    9750|     98|      0|      No|
|  9|  여성|  15|사무직|27900.0|   12750|     98|    115|      No|
| 10|  여성|  12|사무직|24000.0|   13500|     98|    244|      No|
| 12|  남성|   8|사무직|28350.0|   12000|     98|     26|     Yes|
| 13|  남성|  15|사무직|27750.0|   14250|     98|     34|     Yes|
| 15|  남성|  12|사무직|27300.0|   13500|     97|     66|      No|
| 20|  여성|  12|사무직|26250.0|   11550|     97|     48|      No|
| 22|  남성|  12|사무직|21750.0|   12750|     97|    315|     Yes|
| 23|  여성|  15|사무직|24000.0|   11100|     97|     75|     Yes|
| 24|  여성|  12|사무직|16950.0|    9000|     97|    124|     Yes|
| 25|  여성|  15|사무직|21150.0|    9000|     97|    171|     Yes|
| 37|  남성|  12|사무직|29100.0|   13500|     96|    113|     Yes|
| 40|  여성|  15|사무직|19200.0|    9000|     96|     23|     Yes|
| 41|  여성|  12|사무직|23550.0|   11550|     96|     52|     Yes|
| 43|  남성|  12|사무직|23250.0|   14250|     95|     46|      No|
| 44|  남성|   8|사무직|29250.0|   14250|     95|     50|      No|
| 46|  여성|  15|사무직|22350.0|   12750|     95|    165|      No|
| 47|  여성|  12|사무직|30000.0|   16500|     95|    228|      No|
+---+------+----+------+-------+--------+-------+-------+--------+
only showing top 20 rows

In [23]:
DF스파크.filter("salary <= 50000").select(['gender','jobcat']).show()

+------+------+
|gender|jobcat|
+------+------+
|  남성|사무직|
|  여성|사무직|
|  여성|사무직|
|  남성|사무직|
|  남성|사무직|
|  남성|사무직|
|  여성|사무직|
|  여성|사무직|
|  여성|사무직|
|  여성|사무직|
|  남성|사무직|
|  남성|사무직|
|  여성|사무직|
|  남성|사무직|
|  남성|사무직|
|  남성|사무직|
|  남성|사무직|
|  여성|사무직|
|  여성|사무직|
|  남성|사무직|
+------+------+
only showing top 20 rows

In [24]:
DF스파크.filter(DF스파크['salary'] <= 30000).show()  
# DF 안에 있는게 아니어도 된다?

+---+------+----+------+-------+--------+-------+-------+--------+
| id|gender|educ|jobcat| salary|salbegin|jobtime|prevexp|minority|
+---+------+----+------+-------+--------+-------+-------+--------+
|  3|  여성|  12|사무직|21450.0|   12000|     98|    381|      No|
|  4|  여성|   8|사무직|21900.0|   13200|     98|    190|      No|
|  8|  여성|  12|사무직|21900.0|    9750|     98|      0|      No|
|  9|  여성|  15|사무직|27900.0|   12750|     98|    115|      No|
| 10|  여성|  12|사무직|24000.0|   13500|     98|    244|      No|
| 12|  남성|   8|사무직|28350.0|   12000|     98|     26|     Yes|
| 13|  남성|  15|사무직|27750.0|   14250|     98|     34|     Yes|
| 15|  남성|  12|사무직|27300.0|   13500|     97|     66|      No|
| 20|  여성|  12|사무직|26250.0|   11550|     97|     48|      No|
| 22|  남성|  12|사무직|21750.0|   12750|     97|    315|     Yes|
| 23|  여성|  15|사무직|24000.0|   11100|     97|     75|     Yes|
| 24|  여성|  12|사무직|16950.0|    9000|     97|    124|     Yes|
| 25|  여성|  15|사무직|21150.0|    9000|     97|    171|     Yes|
| 37|  남성|  12|사무직|29100.0|   13500|     96|    113|     Yes|
| 40|  여성|  15|사무직|19200.0|    9000|     96|     23|     Yes|
| 41|  여성|  12|사무직|23550.0|   11550|     96|     52|     Yes|
| 43|  남성|  12|사무직|23250.0|   14250|     95|     46|      No|
| 44|  남성|   8|사무직|29250.0|   14250|     95|     50|      No|
| 46|  여성|  15|사무직|22350.0|   12750|     95|    165|      No|
| 47|  여성|  12|사무직|30000.0|   16500|     95|    228|      No|
+---+------+----+------+-------+--------+-------+-------+--------+
only showing top 20 rows

In [25]:
DF스파크.filter((DF스파크['salary'] <= 30000) & (DF스파크['salary'] >= 25000)).show() # 조건을 묶기

+---+------+----+------+-------+--------+-------+-------+--------+
| id|gender|educ|jobcat| salary|salbegin|jobtime|prevexp|minority|
+---+------+----+------+-------+--------+-------+-------+--------+
|  9|  여성|  15|사무직|27900.0|   12750|     98|    115|      No|
| 12|  남성|   8|사무직|28350.0|   12000|     98|     26|     Yes|
| 13|  남성|  15|사무직|27750.0|   14250|     98|     34|     Yes|
| 15|  남성|  12|사무직|27300.0|   13500|     97|     66|      No|
| 20|  여성|  12|사무직|26250.0|   11550|     97|     48|      No|
| 37|  남성|  12|사무직|29100.0|   13500|     96|    113|     Yes|
| 44|  남성|   8|사무직|29250.0|   14250|     95|     50|      No|
| 47|  여성|  12|사무직|30000.0|   16500|     95|    228|      No|
| 54|  남성|  12|사무직|25050.0|   13500|     94|    444|      No|
| 55|  남성|  12|사무직|27000.0|   15000|     94|    120|      No|
| 56|  남성|  15|사무직|26850.0|   13500|     94|      5|      No|
| 58|  여성|  15|사무직|26400.0|   13500|     94|      3|      No|
| 59|  남성|  15|사무직|28050.0|   14250|     94|     36|     Yes|
| 73|  여성|  12|사무직|26400.0|   10500|     93|      0|      No|
| 76|  여성|  15|사무직|29250.0|   11550|     93|     11|      No|
| 77|  여성|  12|사무직|27600.0|   11400|     93|      6|      No|
| 84|  여성|   8|사무직|25050.0|   10950|     93|      8|     Yes|
| 85|  남성|  15|사무직|25950.0|   17100|     92|     42|      No|
| 93|  여성|  12|사무직|25950.0|   10950|     92|      0|      No|
| 95|  여성|  12|사무직|28500.0|   10500|     92|      6|      No|
+---+------+----+------+-------+--------+-------+-------+--------+
only showing top 20 rows

In [26]:
DF스파크.filter(~(DF스파크['salary'] <= 30000)).show() # ~ not

+---+------+----+------+--------+--------+-------+-------+--------+
| id|gender|educ|jobcat|  salary|salbegin|jobtime|prevexp|minority|
+---+------+----+------+--------+--------+-------+-------+--------+
|  1|  남성|  15|경영자| 57000.0|   27000|     98|    144|      No|
|  2|  남성|  16|사무직| 40200.0|   18750|     98|     36|      No|
|  5|  남성|  15|사무직| 45000.0|   21000|     98|    138|      No|
|  6|  남성|  15|사무직| 32100.0|   13500|     98|     67|      No|
|  7|  남성|  15|사무직| 36000.0|   18750|     98|    114|      No|
| 11|  여성|  16|사무직| 30300.0|   16500|     98|    143|      No|
| 14|  여성|  15|사무직| 35100.0|   16800|     98|    137|     Yes|
| 16|  남성|  12|사무직| 40800.0|   15000|     97|     24|      No|
| 17|  남성|  15|사무직| 46000.0|   14250|     97|     48|      No|
| 18|  남성|  16|경영자|103750.0|   27510|     97|     70|      No|
| 19|  남성|  12|사무직| 42300.0|   14250|     97|    103|      No|
| 21|  여성|  16|사무직| 38850.0|   15000|     97|     17|      No|
| 26|  남성|  15|사무직| 31050.0|   12600|     96|     14|      No|
| 27|  남성|  19|경영자| 60375.0|   27480|     96|     96|      No|
| 28|  남성|  15|사무직| 32550.0|   14250|     96|     43|      No|
| 29|  남성|  19|경영자|135000.0|   79980|     96|    199|      No|
| 30|  남성|  15|사무직| 31200.0|   14250|     96|     54|      No|
| 31|  남성|  12|사무직| 36150.0|   14250|     96|     83|      No|
| 32|  남성|  19|경영자|110625.0|   45000|     96|    120|      No|
| 33|  남성|  15|사무직| 42000.0|   15000|     96|     68|      No|
+---+------+----+------+--------+--------+-------+-------+--------+
only showing top 20 rows

### Pyspark groupby and aggregate functions
- DF스파크.groupBy('gender').  +  Tab을 이용하여 가능한 함수 확인

In [27]:
DF스파크.groupBy('gender').count().show()

+------+-----+
|gender|count|
+------+-----+
|  남성|  258|
|  여성|  216|
+------+-----+

In [28]:
DF스파크.groupBy('gender').mean().show()

+------+------------------+------------------+------------------+------------------+-----------------+------------------+
|gender|           avg(id)|         avg(educ)|       avg(salary)|     avg(salbegin)|     avg(jobtime)|      avg(prevexp)|
+------+------------------+------------------+------------------+------------------+-----------------+------------------+
|  남성| 227.5503875968992|14.430232558139535|41441.782945736435| 20301.39534883721|81.72093023255815|111.62015503875969|
|  여성|249.38425925925927| 12.37037037037037|26031.921296296296|13091.967592592593|80.37962962962963| 77.03703703703704|
+------+------------------+------------------+------------------+------------------+-----------------+------------------+

In [29]:
DF스파크.groupBy('gender').mean('salary').show()

+------+------------------+
|gender|       avg(salary)|
+------+------------------+
|  남성|41441.782945736435|
|  여성|26031.921296296296|
+------+------------------+

In [30]:
DF스파크.groupBy(['gender','jobcat']).max().show()  # 임금 차이 $  성별, 직업도 영항을 준다

+------+------+-------+---------+-----------+-------------+------------+------------+
|gender|jobcat|max(id)|max(educ)|max(salary)|max(salbegin)|max(jobtime)|max(prevexp)|
+------+------+-------+---------+-----------+-------------+------------+------------+
|  남성|사무직|    472|       19|    80000.0|        31980|          98|         476|
|  여성|사무직|    474|       17|    54000.0|        19980|          98|         412|
|  여성|경영자|    468|       16|    58125.0|        30000|          90|         285|
|  남성|경영자|    464|       21|   135000.0|        79980|          98|         272|
|  남성|관리직|    429|       15|    35250.0|        15750|          95|         460|
+------+------+-------+---------+-----------+-------------+------------+------------+

In [31]:
DF스파크.agg({'salary':'mean', 'salbegin':'min'}).show()

+-------------+-----------------+
|min(salbegin)|      avg(salary)|
+-------------+-----------------+
|         9000|34419.56751054852|
+-------------+-----------------+

여기까진 판다스랑 비슷하죠?

### 특정 칼럼 값을 기준으로 데이터 정렬하기

In [32]:
DF스파크.orderBy("salary",ascending=False).show()

+---+------+----+------+--------+--------+-------+-------+--------+
| id|gender|educ|jobcat|  salary|salbegin|jobtime|prevexp|minority|
+---+------+----+------+--------+--------+-------+-------+--------+
| 29|  남성|  19|경영자|135000.0|   79980|     96|    199|      No|
| 32|  남성|  19|경영자|110625.0|   45000|     96|    120|      No|
| 18|  남성|  16|경영자|103750.0|   27510|     97|     70|      No|
|343|  남성|  16|경영자|103500.0|   60000|     73|    150|      No|
|446|  남성|  16|경영자|100000.0|   44100|     66|    128|     Yes|
|103|  남성|  19|경영자| 97000.0|   35010|     91|     68|      No|
| 34|  남성|  19|경영자| 92000.0|   39990|     96|    175|      No|
|106|  남성|  19|경영자| 91250.0|   29490|     91|     23|      No|
|454|  남성|  19|경영자| 90625.0|   31250|     65|     18|      No|
|431|  남성|  18|경영자| 86250.0|   45000|     66|     50|      No|
|274|  남성|  16|경영자| 83750.0|   21750|     79|     12|      No|
| 71|  남성|  17|경영자| 82500.0|   34980|     93|    207|      No|
| 35|  남성|  17|경영자| 81250.0|   30000|     96|     18|      No|
|218|  남성|  15|사무직| 80000.0|   15750|     82|     34|      No|
|383|  남성|  17|경영자| 78500.0|   28740|     70|     67|     Yes|
|100|  남성|  18|경영자| 78250.0|   27480|     91|     47|      No|
| 66|  남성|  19|경영자| 78125.0|   30000|     93|      7|      No|
|235|  남성|  19|경영자| 75000.0|   31500|     81|     13|      No|
|456|  남성|  19|경영자| 75000.0|   42510|     65|     54|      No|
| 53|  남성|  18|경영자| 73750.0|   26250|     94|     56|      No|
+---+------+----+------+--------+--------+-------+-------+--------+
only showing top 20 rows

In [33]:
DF스파크.orderBy("educ","salary",ascending=[False,False]).show()

+---+------+----+------+--------+--------+-------+-------+--------+
| id|gender|educ|jobcat|  salary|salbegin|jobtime|prevexp|minority|
+---+------+----+------+--------+--------+-------+-------+--------+
|137|  남성|  21|경영자| 65000.0|   37500|     88|    264|      No|
|173|  남성|  20|경영자| 69250.0|   42480|     85|    134|      No|
|130|  남성|  20|경영자| 59375.0|   30000|     89|      6|      No|
| 29|  남성|  19|경영자|135000.0|   79980|     96|    199|      No|
| 32|  남성|  19|경영자|110625.0|   45000|     96|    120|      No|
|103|  남성|  19|경영자| 97000.0|   35010|     91|     68|      No|
| 34|  남성|  19|경영자| 92000.0|   39990|     96|    175|      No|
|106|  남성|  19|경영자| 91250.0|   29490|     91|     23|      No|
|454|  남성|  19|경영자| 90625.0|   31250|     65|     18|      No|
| 66|  남성|  19|경영자| 78125.0|   30000|     93|      7|      No|
|456|  남성|  19|경영자| 75000.0|   42510|     65|     54|      No|
|235|  남성|  19|경영자| 75000.0|   31500|     81|     13|      No|
|284|  남성|  19|경영자| 73500.0|   33000|     78|     45|      No|
| 88|  남성|  19|경영자| 72500.0|   28740|     92|     10|      No|
|198|  남성|  19|경영자| 70875.0|   43500|     83|    156|      No|
|420|  남성|  19|경영자| 70000.0|   35040|     67|     75|      No|
| 89|  남성|  19|경영자| 68750.0|   27480|     92|      8|      No|
|283|  남성|  19|경영자| 68125.0|   32010|     78|     35|      No|
|389|  남성|  19|경영자| 66875.0|   32490|     69|     81|      No|
|430|  남성|  19|경영자| 66250.0|   34980|     67|     99|     Yes|
+---+------+----+------+--------+--------+-------+-------+--------+
only showing top 20 rows

수정할 때 카피한 것을 수정하기

In [35]:
# 스파크 DF 복사
DF복사 = DF스파크.select("*")  # 모든 변수를

### pyspark built-in functions
https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/functions.html

In [36]:
# 표준화
from pyspark.sql.functions import avg, col, stddev
평균 = DF복사.select(avg(col("salary")))
평균.show()

+-----------------+
|      avg(salary)|
+-----------------+
|34419.56751054852|
+-----------------+

In [47]:
평균 = DF복사.select(avg(col("salary")))
평균.show()
# 평균 = DF복사.select(avg(col("salary"))).first()[0]
print(평균.first())

+-----------------+
|      avg(salary)|
+-----------------+
|34419.56751054852|
+-----------------+

Row(avg(salary)=34419.56751054852)

In [38]:
표준편차 = DF복사.select(stddev(col("salary"))).first()[0]  # 빌트인 함수
print(표준편차)

17075.661464586057

In [39]:
DF복사.withColumn("salary_STD",(col("salary")-평균)/표준편차).show()  # 사용자 정의 함수

+---+------+----+------+--------+--------+-------+-------+--------+--------------------+
| id|gender|educ|jobcat|  salary|salbegin|jobtime|prevexp|minority|          salary_STD|
+---+------+----+------+--------+--------+-------+-------+--------+--------------------+
|  1|  남성|  15|경영자| 57000.0|   27000|     98|    144|      No|  1.3223752729158986|
|  2|  남성|  16|사무직| 40200.0|   18750|     98|     36|      No| 0.33851880358718545|
|  3|  여성|  12|사무직| 21450.0|   12000|     98|    381|      No| -0.7595352916457532|
|  4|  여성|   8|사무직| 21900.0|   13200|     98|    190|      No| -0.7331819933601627|
|  5|  남성|  15|사무직| 45000.0|   21000|     98|    138|      No|  0.6196206519668178|
|  6|  남성|  15|사무직| 32100.0|   13500|     98|     67|      No|-0.13584056555344404|
|  7|  남성|  15|사무직| 36000.0|   18750|     98|    114|      No|  0.0925546862550072|
|  8|  여성|  12|사무직| 21900.0|    9750|     98|      0|      No| -0.7331819933601627|
|  9|  여성|  15|사무직| 27900.0|   12750|     98|    115|      No| -0.3818046828856223|
| 10|  여성|  12|사무직| 24000.0|   13500|     98|    244|      No| -0.6101999346940735|
| 11|  여성|  16|사무직| 30300.0|   16500|     98|    143|      No|-0.24125375869580615|
| 12|  남성|   8|사무직| 28350.0|   12000|     98|     26|     Yes| -0.3554513846000318|
| 13|  남성|  15|사무직| 27750.0|   14250|     98|     34|     Yes|-0.39058911564748583|
| 14|  여성|  15|사무직| 35100.0|   16800|     98|    137|     Yes|0.039848089683826145|
| 15|  남성|  12|사무직| 27300.0|   13500|     97|     66|      No|-0.41694241393307635|
| 16|  남성|  12|사무직| 40800.0|   15000|     97|     24|      No|  0.3736565346346395|
| 17|  남성|  15|사무직| 46000.0|   14250|     97|     48|      No|  0.6781835370459078|
| 18|  남성|  16|경영자|103750.0|   27510|     97|     70|      No|  4.0601901503633595|
| 19|  남성|  12|사무직| 42300.0|   14250|     97|    103|      No|  0.4615008622532746|
| 20|  여성|  12|사무직| 26250.0|   11550|     97|     48|      No| -0.4784334432661209|
+---+------+----+------+--------+--------+-------+-------+--------+--------------------+
only showing top 20 rows

In [ ]:
#### 그룹화 한다면?