## 결측값 처리

- 제거
- 대체

In [4]:
pwd

'/content'

In [3]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [23]:
결측자료=pd.read_csv("/content/drive/MyDrive/BSA/BSA05/Employee_missing.csv", encoding="cp949")  # colab
# 결측자료=pd.read_csv("Employee_missing.csv", encoding="cp949")
결측자료.head()

    id gender  educ jobcat   salary  salbegin  jobtime  prevexp minority
0  NaN     남성  12.0    NaN      NaN       NaN      NaN      NaN      NaN
1  0.0    NaN   NaN    사무직  60000.0       NaN     95.0      NaN      YES
2  NaN    NaN   NaN    NaN      NaN       NaN      NaN      NaN      NaN
3  1.0     남성  15.0    경영자  57000.0   27000.0     98.0    144.0       No
4  2.0     남성  16.0    사무직  40200.0   18750.0     98.0     36.0       No

In [16]:
결측자료.isna().sum()   # 결측자료 수

id          2
gender      2
educ        2
jobcat      2
salary      2
salbegin    3
jobtime     2
prevexp     3
minority    2
dtype: int64

In [25]:
# 행 자료 제거

# 결측자료.dropna(axis=0).head() # 결측값이 있음
# 결측자료.dropna(how='all').head()  # 모든 자료가 결측 
k=5
결측자료.dropna(thresh=k, inplace=True) # 결측값이 아닌 개수가 k개 미만
결측자료.dropna(subset=["gender", "jobcat"], inplace=True) # 결측값이 특정 변수에
# 결측자료.dropna(subset="gender", inplace=True) # 결측을 제거하고 동일명의 데이터프레임으로 저장
결측자료.head()

    id gender  educ jobcat   salary  salbegin  jobtime  prevexp minority
3  1.0     남성  15.0    경영자  57000.0   27000.0     98.0    144.0       No
4  2.0     남성  16.0    사무직  40200.0   18750.0     98.0     36.0       No
5  3.0     여성  12.0    사무직  21450.0   12000.0     98.0    381.0       No
6  4.0     여성   8.0    사무직  21900.0   13200.0     98.0    190.0       No
7  5.0     남성  15.0    사무직  45000.0   21000.0     98.0    138.0       No

In [24]:
# 열 변수 제거

# 결측자료.dropna(axis=1).head()
# 결측자료.dropna(axis='columns').head()
결측자료.dropna(axis=1, thresh=474).head()
결측자료["jobcat"].replace({"경영자":np.NaN, "사무직":np.NaN})

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
472    NaN
473    NaN
474    NaN
475    NaN
476    NaN
Name: jobcat, Length: 477, dtype: object

결측값 대체

In [26]:
# 직접 지정한 값으로 대체

# 결측자료.fillna(0).head()
결측자료.fillna({"id":0, "gender":"남자", "jobcat":"경영자"}).head()
# 결측자료.fillna(method='ffill').head()
# 결측자료.fillna(method='bfill').head()

    id gender  educ jobcat   salary  salbegin  jobtime  prevexp minority
3  1.0     남성  15.0    경영자  57000.0   27000.0     98.0    144.0       No
4  2.0     남성  16.0    사무직  40200.0   18750.0     98.0     36.0       No
5  3.0     여성  12.0    사무직  21450.0   12000.0     98.0    381.0       No
6  4.0     여성   8.0    사무직  21900.0   13200.0     98.0    190.0       No
7  5.0     남성  15.0    사무직  45000.0   21000.0     98.0    138.0       No

In [21]:
# 특정 통계값으로 대체 

수치변수명=결측자료.select_dtypes(include=np.number).columns.tolist()
수치결측자료=결측자료[수치변수명]
수치결측자료.head()

    id  educ   salary  salbegin  jobtime  prevexp
0  NaN  12.0      NaN       NaN      NaN      NaN
1  0.0   NaN  60000.0       NaN     95.0      NaN
2  NaN   NaN      NaN       NaN      NaN      NaN
3  1.0  15.0  57000.0   27000.0     98.0    144.0
4  2.0  16.0  40200.0   18750.0     98.0     36.0

In [38]:
수치결측자료.groupby("educ").count()

       id  salary  salbegin  jobtime  prevexp
educ
8.0    53      53        53       53       53
12.0  190     190       190      190      190
14.0    6       6         6        6        6
15.0  116     116       116      116      116
16.0   59      59        59       59       59
17.0   11      11        11       11       11
18.0    9       9         9        9        9
19.0   27      27        27       27       27
20.0    2       2         2        2        2
21.0    1       1         1        1        1

In [39]:
수치결측자료.groupby("educ").mean()

              id        salary      salbegin    jobtime     prevexp
educ
8.0   256.528302  24399.056604  13064.150943  79.773585  183.245283
12.0  243.763158  25887.157895  13241.868421  80.768421   96.378947
14.0  257.833333  31625.000000  15625.000000  79.666667   57.333333
15.0  222.387931  31685.000000  15610.603448  82.120690   77.784483
16.0  224.237288  48225.932203  22338.474576  82.016949   62.745763
17.0  218.454545  59527.272727  26904.545455  82.272727  104.454545
18.0  244.777778  65127.777778  32240.000000  80.666667   82.444444
19.0  260.888889  72520.370370  34764.074074  79.111111   75.925926
20.0  151.500000  64312.500000  36240.000000  87.000000   70.000000
21.0  137.000000  65000.000000  37500.000000  88.000000  264.000000

In [28]:
수치결측자료.fillna(수치결측자료.mean()).head() # median(), min(), max()

      id       educ        salary      salbegin    jobtime     prevexp
0  237.0  12.000000  34473.421053  17016.086498  81.138947   95.860759
1    0.0  13.488421  60000.000000  17016.086498  95.000000   95.860759
2  237.0  13.488421  34473.421053  17016.086498  81.138947   95.860759
3    1.0  15.000000  57000.000000  27000.000000  98.000000  144.000000
4    2.0  16.000000  40200.000000  18750.000000  98.000000   36.000000

In [27]:
최빈값 = 결측자료.mode()
최빈값

        id gender  educ jobcat   salary  salbegin  jobtime  prevexp minority
0      1.0     남성  12.0    사무직  30750.0   15000.0     81.0      0.0       No
1      2.0    NaN   NaN    NaN      NaN       NaN     93.0      NaN      NaN
2      3.0    NaN   NaN    NaN      NaN       NaN      NaN      NaN      NaN
3      4.0    NaN   NaN    NaN      NaN       NaN      NaN      NaN      NaN
4      5.0    NaN   NaN    NaN      NaN       NaN      NaN      NaN      NaN
..     ...    ...   ...    ...      ...       ...      ...      ...      ...
469  470.0    NaN   NaN    NaN      NaN       NaN      NaN      NaN      NaN
470  471.0    NaN   NaN    NaN      NaN       NaN      NaN      NaN      NaN
471  472.0    NaN   NaN    NaN      NaN       NaN      NaN      NaN      NaN
472  473.0    NaN   NaN    NaN      NaN       NaN      NaN      NaN      NaN
473  474.0    NaN   NaN    NaN      NaN       NaN      NaN      NaN      NaN

[474 rows x 9 columns]

In [29]:
결측자료.fillna(최빈값.iloc[0,:]).head() # integer location[행 인덱스, 열 인덱스]

    id gender  educ jobcat   salary  salbegin  jobtime  prevexp minority
3  1.0     남성  15.0    경영자  57000.0   27000.0     98.0    144.0       No
4  2.0     남성  16.0    사무직  40200.0   18750.0     98.0     36.0       No
5  3.0     여성  12.0    사무직  21450.0   12000.0     98.0    381.0       No
6  4.0     여성   8.0    사무직  21900.0   13200.0     98.0    190.0       No
7  5.0     남성  15.0    사무직  45000.0   21000.0     98.0    138.0       No

대체 패키지

In [33]:
# 수치자료의 결측값을 단순대체 
from sklearn.impute import SimpleImputer

단순대체 = SimpleImputer(strategy='mean')
대체자료 = 단순대체.fit_transform(수치결측자료)
대체자료

array([[2.37000000e+02, 1.20000000e+01, 3.44734211e+04, 1.70160865e+04,
        8.11389474e+01, 9.58607595e+01],
       [0.00000000e+00, 1.34884211e+01, 6.00000000e+04, 1.70160865e+04,
        9.50000000e+01, 9.58607595e+01],
       [2.37000000e+02, 1.34884211e+01, 3.44734211e+04, 1.70160865e+04,
        8.11389474e+01, 9.58607595e+01],
       ...,
       [4.72000000e+02, 1.50000000e+01, 3.91500000e+04, 1.57500000e+04,
        6.30000000e+01, 4.60000000e+01],
       [4.73000000e+02, 1.20000000e+01, 2.14500000e+04, 1.27500000e+04,
        6.30000000e+01, 1.39000000e+02],
       [4.74000000e+02, 1.20000000e+01, 2.94000000e+04, 1.42500000e+04,
        6.30000000e+01, 9.00000000e+00]])

In [34]:
대체자료 = pd.DataFrame(대체자료, columns=수치결측자료.columns)
대체자료.head()

      id       educ        salary      salbegin    jobtime     prevexp
0  237.0  12.000000  34473.421053  17016.086498  81.138947   95.860759
1    0.0  13.488421  60000.000000  17016.086498  95.000000   95.860759
2  237.0  13.488421  34473.421053  17016.086498  81.138947   95.860759
3    1.0  15.000000  57000.000000  27000.000000  98.000000  144.000000
4    2.0  16.000000  40200.000000  18750.000000  98.000000   36.000000

In [35]:
단순대체.set_output(transform='pandas')
대체자료 = 단순대체.fit_transform(수치결측자료)
대체자료.head()

      id       educ        salary      salbegin    jobtime     prevexp
0  237.0  12.000000  34473.421053  17016.086498  81.138947   95.860759
1    0.0  13.488421  60000.000000  17016.086498  95.000000   95.860759
2  237.0  13.488421  34473.421053  17016.086498  81.138947   95.860759
3    1.0  15.000000  57000.000000  27000.000000  98.000000  144.000000
4    2.0  16.000000  40200.000000  18750.000000  98.000000   36.000000

In [36]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

확률대체 = IterativeImputer(random_state=0)
확률대체.set_output(transform='pandas')
대체자료 = 확률대체.fit_transform(수치결측자료)
대체자료.head()

           id       educ        salary      salbegin    jobtime     prevexp
0  237.299536  12.000000  34023.646203  17045.190569  81.132509  116.751862
1    0.000000  16.290908  60000.000000  26325.929668  95.000000   88.290084
2  237.000629  13.494309  34472.476147  17035.706135  81.138934   95.888744
3    1.000000  15.000000  57000.000000  27000.000000  98.000000  144.000000
4    2.000000  16.000000  40200.000000  18750.000000  98.000000   36.000000

In [37]:
from sklearn.impute import KNNImputer

근접대체=KNNImputer(n_neighbors=5,weights='uniform')
근접대체.set_output(transform='pandas')
근접대체.fit_transform(수치결측자료).head()

      id       educ        salary      salbegin    jobtime     prevexp
0  250.8  12.000000  24870.000000  12270.000000  80.800000  100.800000
1    0.0  17.600000  60000.000000  27240.000000  95.000000   44.400000
2  237.0  13.488421  34473.421053  17016.086498  81.138947   95.860759
3    1.0  15.000000  57000.000000  27000.000000  98.000000  144.000000
4    2.0  16.000000  40200.000000  18750.000000  98.000000   36.000000